/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {
    background-color: #ffffff;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    justify-content: center;
  }
